@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";                       //Title of the page shown in the browser
    Layout = "~/Views/Shared/_Layout.cshtml";       //Layout for this view
}

<h2>@Model.Movie.Name</h2>
@Model.Customers